body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Todo-app {
  padding-top: 35px;
  display: inline-block;
  text-align: left;
}

input {
  font-size: 20px
}

ul {
  padding: 0px
}

li {
  list-style-type: none;
}

.message {
  background-color:#61DAFB;
  color:white;
  border: solid 1px #61DAFB;
  position: absolute;
  text-align: center;
  width:200px;
  left: 50%;
  margin-left:-100px;
  top: 200px;
}